*{
    text-align: center;
}


h1,h2,h3,h4 {
font-family:"Lato", sans-serif

}
body{
    background-color: #dcd0be;
}
.mySlides {
display:none
}
.w3-tag, .fa {
cursor:pointer
}
.w3-tag {
height:15px;width:15px;padding:0;margin-top:6px
}
img{
    height: 50%;
    width: 40%;
    align-self:center;
}
.django{
    font-size: 200%;
}
.spotify{
    height: 50%;
    width: 30%;
}
.instagram{
    width: 30%;
    height: 50%;
}
.Flask{
    font-size: 200%;
}
.samsung{
    width: 30%;
    height: 50%;
}
.netflix{
    width: 30%;
    height: 50%;
}
.podcast{
    font-size: 250%;
}